node_modules

# Ignore artifacts:
build
coverage
build-cypress
coverage-cypress
report
report-cypress
.nyc_output

public/mockServiceWorker.js
src/react-pdf-highlighter
src/mock-api/data/pdfs/pdf-strings.json