################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rumpole/config
/.vs/Rumpole/DesignTimeBuild
/.vs/Rumpole/v16
/.vs
/RumpoleGateway.Domain/obj
/RumpoleGateway.Domain/bin/Debug/netcoreapp3.1