.search {
  display: flex;
  align-items: flex-end;

  button {
    margin-left: 5px;
  }
}

.results {
  margin-top: 20px;
}

.filter {
  border: 1px solid #b1b4b6;

  :global(.govuk-heading-m) {
    border-bottom: 1px solid #b1b4b6;
    padding: 10px;
    margin-bottom: 10px;
  }

  & :global(.legend) {
    padding: 0 10px;
    margin-bottom: 15px;
  }

  :global(.govuk-form-group) {
    padding: 0 10px;
  }
}
